body {
    margin: 0px;
    background: none;
    color: #656565;
    font-family:Verdana,Arial,'Bitstream Vera Sans',Helvetica,sans-serif;
    font-size:13px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
}

.milestone .info h2 em,
dt em,
*:link, *:visited {
    color: #528f63;
    border: none;
}

*:link:hover, *:visited:hover {
    background-color: transparent;
    text-decoration: underline;
    color: #528f63;
}

#banner {
    margin: 0px auto;
    width: 860px;
    overflow: hidden;
    background: transparent url(/very_unlikely_filename_42_header.png) no-repeat;
    height: 170px;
}

#header h1, #header h2 {padding: 0px; margin: 0px; display: inline; overflow: hidden; height: 1px;}
#header a span {display: none;}

#header h1 a {
    display: block;
    position: relative;
    left: 353px;
    background: transparent;
    width: 150px;
    height: 150px;
} 

#header h2 a {
    display: block;
    position: relative;
    left: 503px;
    top: -70px;
    background: transparent;
    width: 290px;
    height: 70px;
} 

#header a:hover {
    text-decoration: none;
}

#main {
    margin: 0px auto;
    width: 860px;
    margin-top: 0px;
    min-height: 300px;
}
